.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - 2rem);
  /* border: 2px solid white; */
  margin-inline: auto;
}

.d-flex {
  display: flex;
  --display: flex;
}
.d-grid {
  display: grid;
  --display: grid;
}

.only-desktop {
  display: none;
}

/* Classe para manter oculto o label mas sem prejudicar sumindo da página. Para usar invés do display: none */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (min-width: 40em) {
  & .container {
    --max-width: 40em;
  }

  & .only-desktop {
    display: var(--display, block); /* fallback = block */
  }
}
